<?xml version="1.0"?>
<launch>
    <include file="$(find hdl_grabber)/launch/hdl_grabber_nodelet.launch">

        <arg name="nodelet_manager"      default="hdl_grabber_nodelet_manager" />
        <arg name="velodyne_nodelet"     default="hdl_grabber_nodelet" />

        <arg name="model"                default="VLP32C" />
        <arg name="frame_id"             default="velodyne_right" />
        <arg name="pcloud_topic"         default="/velodyne/points" />
        <arg name="calib_file"           default="$(find hdl_grabber)/calib_files/32db.xml" />
        <arg name="ipaddress"            default="172.29.21.9" />
        <arg name="port"                 default="2368" />
        <arg name="port_gps"             default="8308" />    
        <arg name="isTransformOn"        default="false" />
        <arg name="tras_x"               default="0" /> 
        <arg name="tras_y"               default="0" />
        <arg name="tras_z"               default="0" />
        <arg name="roll"                 default="0" />
        <arg name="pitch"                default="0" />
        <arg name="yaw"                  default="0" />  
        
        <arg name="datapath"             default="" />
        <arg name="pcap"                 default="" /> 
        
    </include>

        <node pkg="tf" type="static_transform_publisher" name="velodyne_vlp16_left_broadcaster" args="0 0 0 0 0 0  /velodyne_right /velodyne_vlp16_left 100" /> 

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hdl_grabber)/rviz/velodyne.rviz" />
    
</launch>
